/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_richardsoneats.sass */
html, body {
  height: 100%;
  width: 100%;
}

/* line 4, ../sass/_richardsoneats.sass */
body {
  background: fixed;
  background-image: -webkit-linear-gradient(bottom left, #764BA2 0%, #667EEA 100%);
  background-image: -o-linear-gradient(bottom left, #764BA2 0%, #667EEA 100%);
  background-image: linear-gradient(to top right, #764BA2 0%, #667EEA 100%);
}

/* line 9, ../sass/_richardsoneats.sass */
.card-container {
  display: grid;
  padding: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
}

/* line 14, ../sass/_richardsoneats.sass */
.card-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}
/* line 18, ../sass/_richardsoneats.sass */
.card-link:hover {
  box-shadow: 0 0 30px -6px #383554;
  transform: translateY(-3px);
}
/* line 21, ../sass/_richardsoneats.sass */
.card-link:hover .pin img {
  height: 35px;
  width: 35px;
  float: right;
  margin: -20px -20px 0 0;
  transition: all 0.4s ease;
}

/* line 29, ../sass/_richardsoneats.sass */
.card {
  background: #FDFDFD;
  box-shadow: 0 0 34px -10px #383554;
  padding: 20px;
}

/* line 34, ../sass/_richardsoneats.sass */
.card-title h2 {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Ovo", serif;
}
/* line 38, ../sass/_richardsoneats.sass */
.card-title .pin img {
  height: 31px;
  width: 31px;
  float: right;
  margin: -20px -20px 0 0;
  transition: all 0.4s ease;
}
/* line 45, ../sass/_richardsoneats.sass */
.card-title .hr {
  width: 30px;
  height: 3px;
  background-color: #FCCE3E;
  margin: 10px 0;
}
/* line 50, ../sass/_richardsoneats.sass */
.card-title h3 {
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #B1B1B1;
}

/* line 55, ../sass/_richardsoneats.sass */
.card-description {
  font-size: 1.2rem;
  margin: 25px 0 30px;
  font-family: "Ovo", serif;
  line-height: 1.4;
}

/* line 61, ../sass/_richardsoneats.sass */
.card-order h3 {
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #B1B1B1;
  margin-bottom: 10px;
}
/* line 67, ../sass/_richardsoneats.sass */
.card-order ul {
  list-style-type: disc;
  list-style-position: outside;
}
/* line 70, ../sass/_richardsoneats.sass */
.card-order li {
  margin: 0 0 8px 30px;
  font-family: "Ovo", serif;
  font-size: 1.1rem;
}

@media (max-width: 475px) {
  /* line 78, ../sass/_richardsoneats.sass */
  .card-container {
    padding: 1rem;
  }
}
