/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_richardsoneats.sass */
html, body {
  height: 100%;
  width: 100%;
}

/* line 4, ../sass/_richardsoneats.sass */
body {
  background: fixed;
  background-image: -webkit-linear-gradient(bottom left, #764BA2 0%, #667EEA 100%);
  background-image: -o-linear-gradient(bottom left, #764BA2 0%, #667EEA 100%);
  background-image: linear-gradient(to top right, #764BA2 0%, #667EEA 100%);
}

/* line 10, ../sass/_richardsoneats.sass */
.header-container {
  display: grid;
  padding: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 0;
  padding-bottom: 0;
}
/* line 16, ../sass/_richardsoneats.sass */
.header-container .card {
  background-color: rgba(60, 56, 117, 0.45);
}
/* line 18, ../sass/_richardsoneats.sass */
.header-container h1 {
  font-size: 1.75rem;
  font-weight: 900;
  font-family: "Ovo", serif;
  line-height: 2.2rem;
  color: white;
}
/* line 24, ../sass/_richardsoneats.sass */
.header-container h1 a {
  color: #FCCE3E;
}
/* line 26, ../sass/_richardsoneats.sass */
.header-container h1 em {
  font-style: italic;
}

/* line 30, ../sass/_richardsoneats.sass */
.card-container {
  display: grid;
  padding: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
}

/* line 35, ../sass/_richardsoneats.sass */
.card-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}
/* line 39, ../sass/_richardsoneats.sass */
.card-link .card {
  transition: all 0.3s ease;
}
/* line 41, ../sass/_richardsoneats.sass */
.card-link .card:hover {
  box-shadow: 0 0 30px -6px #383554;
  transform: translateY(-3px);
}
/* line 44, ../sass/_richardsoneats.sass */
.card-link .card:hover .pin img {
  height: 35px;
  width: 35px;
  float: right;
  margin: -20px -20px 0 0;
  transition: all 0.4s ease;
}

/* line 52, ../sass/_richardsoneats.sass */
.card {
  background: #FDFDFD;
  box-shadow: 0 0 34px -10px #383554;
  padding: 20px;
}

/* line 57, ../sass/_richardsoneats.sass */
.card-title h2 {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Ovo", serif;
}
/* line 61, ../sass/_richardsoneats.sass */
.card-title .pin img {
  height: 31px;
  width: 31px;
  float: right;
  margin: -20px -20px 0 0;
  transition: all 0.4s ease;
}
/* line 68, ../sass/_richardsoneats.sass */
.card-title .hr {
  width: 30px;
  height: 3px;
  background-color: #FCCE3E;
  margin: 10px 0;
}
/* line 73, ../sass/_richardsoneats.sass */
.card-title h3 {
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #B1B1B1;
}

/* line 78, ../sass/_richardsoneats.sass */
.card-description {
  font-size: 1.2rem;
  margin: 25px 0 30px;
  font-family: "Ovo", serif;
  line-height: 1.4;
}

/* line 84, ../sass/_richardsoneats.sass */
.card-order h3 {
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #B1B1B1;
  margin-bottom: 10px;
}
/* line 90, ../sass/_richardsoneats.sass */
.card-order ul {
  list-style-type: disc;
  list-style-position: outside;
}
/* line 93, ../sass/_richardsoneats.sass */
.card-order li {
  margin: 0 0 8px 30px;
  font-family: "Ovo", serif;
  font-size: 1.1rem;
}

/* line 99, ../sass/_richardsoneats.sass */
.card-form h1 {
  font-size: 1.75rem;
  font-weight: 900;
  font-family: "Ovo", serif;
  line-height: 2.2rem;
  margin-bottom: 20px;
}
/* line 105, ../sass/_richardsoneats.sass */
.card-form .form-group {
  margin: 0 0 25px 0;
}
/* line 107, ../sass/_richardsoneats.sass */
.card-form label {
  display: block;
  margin-bottom: 5px;
  font-family: "Quattrocento Sans", sans-serif;
}
/* line 111, ../sass/_richardsoneats.sass */
.card-form input, .card-form textarea {
  display: block;
  width: 90%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

@media (max-width: 475px) {
  /* line 132, ../sass/_richardsoneats.sass */
  .card-container {
    padding: 1rem;
  }
}
